.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
 .row.content {
 height: 550px
 }
 .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 150%;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    #lateral{
    position:fixed;
    top:length -5px;
    float:left;
    width:10px;
	
    }
    section{
     display: block;
     background-color: #dedede;
     width: 20%;
     height:10%;
     float: left;
    }
    
    
    
    
    
    .jumbotron {
      background-color: #f4511e;
      color: blue;
      padding: 100px 25px;
  }
  
  .bg-grey {
      background-color: #f6f6f6;
  }
  
  
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
    