.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
 .row.content {
 height: 550px
 }
 .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 150%;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    #lateral{
    float:left;
    width:100px;
	
    }