body {
      position: relative; 
      background-color: #CAF3E8;
  }
  #section1 {padding-top:50px;height:800px;color: #fff; background-color: #D36C75;}
  #section2 {padding-top:50px;height:800px;color: #fff; background-color: #55D9B1;}
  #section3 {padding-top:50px;height:800px;color: #fff; background-color: #1F8FBF;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #1BE5AE;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  .img{
  	
  	
  }